/*----------------------------------------------
- BODY, HTML
---------------------------------------------*/
body {
  	background: #ffffff;
  	color: #000;
  	width:100%;
  	height:100%;
  	//background-image:url(../images/background.jpg);
    //background-attachment: fixed;
  	margin:0;
  	min-width:640px;

    //Font base
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    //letter-spacing: -0.5px;

    //Nicer Text Rendering
    text-rendering: optimizeLegibility;
    text-rendering: geometricPrecision;
    font-smooth: always;
    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    //-webkit-font-smoothing: subpixel-antialiased; //bit too pixely
    -moz-osx-font-smoothing: grayscale;

    //Scroll locking
    &.scroll-locked { overflow:hidden !important; }
}

//Full size HTML
html {
  	width:100%;
  	height:100%;
}

//Borders off on all images
img {
	border:0;
}

//Default a styling
a, a:hover, a:link, a:visited {
  color:#fff;
  text-decoration: none;
}

//Is this needed with the body tag?
p,input {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
}


/*----------------------------------------------
- BROWSER ERROR
---------------------------------------------*/
.browsehappy {
  	margin: 0.2em 0;
  	background: #ccc;
  	color: #000;
  	padding: 0.2em 0;
}



/*----------------------------------------------
- CONTENT AREA
---------------------------------------------*/
.wrapper {
    width:100%;
    margin:175px 0 50px 0;
}


.content-column {
    text-align:center;
    margin:0 auto;

    //6 column is the most we will do
    @include widthInColumns(6, $resultItemSize, $resultItemMargin);

    //Change column widths below certain screen res
    @media (max-width: 2260px) { @include widthInColumns(5, $resultItemSize, $resultItemMargin); }
    @media (max-width: 1960px) { @include widthInColumns(4, $resultItemSize, $resultItemMargin); }
    @media (max-width: 1600px) { @include widthInColumns(3, $resultItemSize, $resultItemMargin); }
    //@media (max-width: 1300px) { @include widthInColumns(3, $resultItemSize, $resultItemMargin); }
    @media (max-width: 1100px) { @include widthInColumns(2, $resultItemSize, $resultItemMargin); }
    //@media (max-width: 900px) { max-width:590px; }
    @media (max-width: 700px) { @include widthInColumns(1, $resultItemSize, $resultItemMargin); }
    //@media (max-width: 500px) { max-width:190px; }
}