/*----------------------------------------------
-  BUTTONS
 ---------------------------------------------*/
 .button {
    min-width:210px;
    height:$buttonHeight;
    display:inline-block;
    pointer-events:all;
    text-align:center;
    font-size:14px;
    letter-spacing: 1px;
    @include fontFace('medium');
    padding-top:16px;
    background-size:auto 40%;
    background-repeat:no-repeat;
    background-position:center left $paddingGeneral;
    padding-left:30px;
    cursor:pointer;
    opacity:1;
    @include innerBox();

    //Transitions
    @include transition(all 0.5s ease-in-out);

    //Minor adjustments
    &.over {
        //Change the colour...
    }
    &.padded { margin-left:$paddingGeneral; }
    &.block { display:block; }
    &.hidden { opacity:0; }

    //Right
    &.right { float:right; }

    //Types

    //Download Image button on Item Viewer
    &--download {
        background-color:$beige;
        background-image:url(../images/icon-download.svg);
        &.over { @include backgroundRGBAlpha($beigeRGB, $buttonRollOverAlpha); }
    }

    //Login button on auth path
    &--instagram {
        background-color:$beige;
        background-image:url(../images/icon-instagram.svg);
        &:hover { @include backgroundRGBAlpha($beigeRGB, $buttonRollOverAlpha); }
    }

    &.search {
        width:160px;
        background-color:$blue;
        background-image:url(../images/icon-search.svg);
        &.over { @include backgroundRGBAlpha($blueRGB, $buttonRollOverAlpha); }
    }

    &.pause {
        padding-left:0px;
        width:100px;
        background-color:$redAlt;
        &.over { @include backgroundRGBAlpha($redAltRGB, $buttonRollOverAlpha); }
    }

    &.export {
        width:160px;
        background-color:$blue;
        background-image:url(../images/icon-add.svg);
        &.over { @include backgroundRGBAlpha($blueRGB, $buttonRollOverAlpha); }
    }

    &.add {
        width:210px;
        background-color:$purple;
        background-image:url(../images/icon-add.svg);
        &.over { @include backgroundRGBAlpha($purpleRGB, $buttonRollOverAlpha); }
    }

    &.update {
        width:210px;
        background-color:$blue;
        background-image:url(../images/icon-search.svg);
        &.over { @include backgroundRGBAlpha($blueRGB, $buttonRollOverAlpha); }
    }

    &.edit {
        width:136px;
        background-color:$purple;
        background-image:url(../images/icon-edit.svg);
        &.over { @include backgroundRGBAlpha($purpleRGB, $buttonRollOverAlpha); }
    }

    //Active used for toggling state on export data button
    &.inactive {
        opacity:0;
        pointer-events: none;
        cursor:default;
    }
 }