/*----------------------------------------------
-  BUTTONS
 ---------------------------------------------*/
 .button {
    min-width:210px;
    height:$buttonHeight;
    display:inline-block;
    pointer-events:all;

    text-align:center;
    font-size:14px;
    letter-spacing: 1px;
    @include fontFace('medium');

    background-color:$beige; //default colour
    background-size:auto 40%;
    background-repeat:no-repeat;
    background-position:center left $paddingGeneral;

    padding-top:18px;
    padding-left:30px;
    cursor:pointer;
    @include opacity(1);
    @include innerBox();

    //Transitions
    @include transition(opacity 0.5s ease-in-out, background-color 0.5s ease-in-out);

    //Default hover
    &:hover { @include backgroundRGBAlpha($beigeRGB, $buttonRollOverAlpha); }

    //Hidden
    &--hidden {
        @include opacity(0);
        pointer-events:none !important;
        cursor:default !important;
        margin-left:0 !important;
        margin-right:0 !important;
        width:0 !important;
        min-width:0 !important;
        padding:0 !important;
    }

    //Inactive
    &--inactive {
        pointer-events:none !important;
        cursor:default !important;
        @include opacity(0.1);
    }

    //Noclick (Search complete!)
    &--noclick {
        pointer-events:none !important;
        cursor:default !important;
    }

    //Bordered (search bar)
    &--bordered {
        background-color:rgba(0, 0, 0, 0);
        border:1px solid #fff;
        &:hover { @include backgroundRGBAlpha($beigeRGB, 0.1); }
    }

    //Spaced
    &--spaced-left { margin-left:10px; }
    &--spaced-right { margin-right:10px; }


    //DOWNLOAD Image button on Item Viewer
    &--download { background-image:url(../images/icon-download.svg); }

    //LOGIN button on auth path
    &--instagram { background-image:url(../images/icon-instagram.svg); }

    //SEARCH submit button
    &--search { background-image:url(../images/icon-search.svg); }

    //PAUSE / PROGRESS
    &--pause { background-image:url(../images/icon-pause.svg); }

    //EXPORT
    &--export { background-image:url(../images/icon-download-alt.svg); }

    //COMPLETE
    &--complete { background-image:none; padding-left:0; }

    //SNOOP - not used currently
    &--snoop { background-image:url(../images/icon-logo-eye-alt.svg); }
 }