/*----------------------------------------------
- SEARCH FORM NEW
---------------------------------------------*/
.search-form {
    text-align:left;
    margin:0 auto 75px auto;
    display:block;
    width:100%;

    //Columns
    &__column {
        display:inline-block;
        max-width:33%;
        text-align: left;
        vertical-align: top;

        //Space between items
        //padding-right:50px;
        white-space: nowrap;
        overflow:hidden;

        //Third one should finish off the max width
        &:nth-child(3) { max-width:34%; padding-right:0; }


        @include innerBox();

        //Media Query
        @media (max-width: 800px) {
            max-width:100%;
            display:block;
            padding:0;
            &:not(:first-of-type) { margin-top:14px; }
        }

        //Icons
        &__icon {
            display:inline-block;
            height:28px;
            width:28px; //change based on icon type
            background-size:auto 100%;
            background-position:left center;
            background-repeat:no-repeat;

            //Variations
            &--names { background-image:url(../images/icon-at.svg); height:29px }
            &--tags { background-image:url(../images/icon-hashtag.svg); }
            &--keywords { background-image:url(../images/icon-pen.svg); }

        }

        //Input boxes
        &__input {
            //Wrapping
            //padding:0 1px; //without this you get some weird clippig on focus
            white-space: nowrap;
            overflow:hidden;
            text-overflow: ellipsis;
            padding-left:10px;
            padding-right:50px;

            font-size:14px;
            text-transform: uppercase;
            width:auto;
            min-width:10px;
            @include transition(min-width 1s ease-in-out);
            max-width:calc(100% - 43px); //30px for the icon and then 10px for the margin
            display:inline-block;
            outline:0;
            position:relative;
            top:-4px;
            left:0;
            color:#222;
            font-size:14px;

            &:focus {
                //back to clipping so we can see it all, reset the offset...
               text-overflow: clip;
            }

            &--default {
                color:#aaa;
            }

            //Hide line breaks - this is now done in the JS as well
            br { display:none; }

            div {
                display:inline-block;
                @include roundedEdges(14px);
                padding:0 10px;
                background-color:$beige;

                &:not(:first-of-type) {
                    margin-left:5px;
                }
            }
        }


    }

    //Option wrapper
    &__options-wrapper {
        position:relative;
        display:block;
        height:0px;
        @include transition(height 0.5s ease-in-out 0s); //used to be delayed


        &--open {
            height:38px;
            @include transition(height 0.5s ease-in-out 0s);
        }
    }

    //Options
    &__optionset {
        @include innerBox();
        overflow:hidden;
        height:38px;
        margin-top:10px;
        //margin-bottom:10px;
        display:block;
        @include opacity(1);

        //Absolutely position
        position:absolute;
        top:0;
        left:0;

        //Alpha delayed
        @include transition(opacity 0.5s ease-in-out 0.2s, height 0s ease-in-out);


        //Hidden
        &--hidden {
            @include opacity(0);
            height:0px;

            //Fade out no delay, then snap height
            @include transition(opacity 0.4s ease-in-out 0s, height 0s ease-in-out 0.4s);
        }
    }

    &__option {
        @include fontFace('medium');
        @include roundedEdges(14px);
        @include innerBox();
        @include transition(background-color 0.4s ease-in-out);
        background-color:none;
        padding:4px 12px;
        display:inline-block;
        height:28px;
        overflow:hidden;
        cursor:pointer;

        //Selected
        &--selected, &:hover {
            background-color:$beige;
        }
    }

    &__option-spacer {
        @include innerBox();
        display:inline-block;
        height:28px;
        padding:4px 3px;
        vertical-align: top;
    }

    &__button {
        margin-top:26px;
    }
}


/*----------------------------------------------
- REMOVE DEFAULT STYLING
---------------------------------------------*/
input[type=submit] {
    border:0;
    outline: 0;
    width:150px;
    min-width:150px;
    padding-top:7px;
    padding-left:32px;

    //Remove the browser styling
    @include browserStyling(none);
}