/*----------------------------------------------
- HEADER WRAPPER
---------------------------------------------*/
.header__wrapper {
    //position:fixed;
    width:100%;
    top:0;
    z-index:100;
    pointer-events:none;
}


/*----------------------------------------------
- TOP HALF (NAV)
---------------------------------------------*/
.header__top {
    width:100%;
    height:$headerHeight;
    display:table;
    position:relative;
    background-color:#fff;
    text-transform: uppercase;
    @include innerBox();
    padding:$headerMargin;

    //Logos
    .header__logo {

        @include innerBox();
        display:table-cell;
        vertical-align:top;
        a { pointer-events:all; }
        a:hover { color:$blue; }

        overflow:hidden;
    }

    .header__logo--snooper {
        /*background-image:url(../images/icon-logo.svg);
        background-size:234px 15px;
        background-repeat:no-repeat;
        background-position:center;*/


        width:234px;
        height:15px;

        //SVG to fill the box
        svg {
            width:100%;
            height:100%;
        }

        display:block;
    }

    .header__logo--clubhouse {
        text-align:right;
        font-size:10.5px;

        //Link medium sized
        a, a:visited, a:active, a:link, a:hover {
            @include fontFace('medium');
        }
    }
}