/*----------------------------------------------
- HEADER WRAPPER
---------------------------------------------*/
.header__wrapper {
    position:fixed;
    width:100%;
    top:0;
    z-index:100;
    pointer-events:none;
}


/*----------------------------------------------
- TOP HALF (NAV)
---------------------------------------------*/
.header__top {
    width:100%;
    height:$headerHeight;
    display:table;
    position:relative;

    //Background
    background-image:url(../images/background-header.png);
    background-size:100% $headerHeight;

    //Appear above the search
    z-index:101;

    //Logos
    .header__logo {
        padding:0 40px;
        display:table-cell;
        vertical-align:middle;
        a { pointer-events:all; }
        a:hover { color:$blue; }
    }

    .header__logo--snooper {
        font-size: 25px;
    }

    .header__logo--clubhouse {
        text-align:right;
    }
}


/*----------------------------------------------
- SEARCH OVERVIEW BOX
---------------------------------------------*/
.header__search {
    display:table;
    width:100%;
    z-index:100;
    @include innerBox();
    border-top:1px solid rgba(255, 255, 255, 0.24);
    //height:120px;
    background-color:$red;
    padding:0;
    pointer-events:none;
    position:relative;
    top:0;
    left:0;
    opacity:1;
    height:$headerHeight;
    overflow:hidden;

    &__column {
        display: table-cell;
        vertical-align: middle;

        &--right {
            text-align:right;
            padding-right:40px;
        }

    }

    //Center me
    margin:0 auto;

    //Animation
    transition: all 0.4s ease-in-out;

    //Hidden off screen
    &.hidden {
        opacity:0;
        top:-$headerHeight;
    }



    //Label (main search title)
    &__label {
        padding-left:40px;
    }

    &__info__text {
        display:inline-block;
        padding-right:26px;
    }

     //Button
    &__info__button {
        //Use pointer events
        pointer-events:all;

        &.hidden {
            width:0;
            opacity:0;
            pointer-events:none;
            cursor:default;
        }
    }
}