//--------------------------------------------------------------------------
// INNBOX FOR SIZING
//--------------------------------------------------------------------------
@mixin innerBox() {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}


//--------------------------------------------------------------------------
// ROUNDED CORNERS
//--------------------------------------------------------------------------
@mixin roundedEdges($_size) {
  //Borders
	-moz-border-radius: $_size;
  -webkit-border-radius: $_size;
  border-radius: $_size;
}


//--------------------------------------------------------------------------
// BACKGROUND RGBA ALPHA FROM A COLOUR ARRAY
//--------------------------------------------------------------------------
@mixin backgroundRGBAlpha($_colour, $_alpha) {
  background-color:rgba(nth($_colour, 1), nth($_colour, 2), nth($_colour, 3), $_alpha);
}


//--------------------------------------------------------------------------
// TRANSITIONS
//--------------------------------------------------------------------------
@mixin transition($transition...) {
  -webkit-transition:    $transition;
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
  transition:         $transition;

  //Also accelerate? NO NO NO
  //@include hardwareAccelerate();
}


//--------------------------------------------------------------------------
// HARDWARE ACCELERATE
//--------------------------------------------------------------------------
@mixin hardwareAccelerate() {
  //Accelerate!
  -webkit-transform: translate3d(0, 0, 0);

  //Other acceleration options - slowdown? October
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}


//--------------------------------------------------------------------------
// HARDWARE ACCELERATE
//--------------------------------------------------------------------------
@mixin browserStyling($_style: none) {
    -webkit-appearance:     $_style;
    -moz-appearance:        $_style;
    -ms-appearance:         $_style;
    -o-appearance:          $_style;
    appearance:             $_style;
}


//-------------------------------------
// OPACITY
//-------------------------------------
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}


//--------------------------------------------------------------------------
// COLUMNS
//--------------------------------------------------------------------------
@mixin widthInColumns($_count, $_width, $_spacing) {
  max-width:$_count * ($_width + $_spacing);
}



//--------------------------------------------------------------------------
// SHADOWING
//--------------------------------------------------------------------------
@mixin shadowing($_type: 'text') {
  @if($_type == 'text') {
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.6);
  } @else {
    -webkit-filter: drop-shadow( 0px 0px 5px rgba(0, 0, 0, 0.34) );
    filter: drop-shadow( 0px 0px 5px rgba(0, 0, 0, 0.34) );
  }
}