/*----------------------------------------------
- LIST
---------------------------------------------*/
.result-list {
    text-align: left;
    @include hardwareAccelerate();
}

.result-list-items {
    text-align:center;
    margin:0 auto;
}


/*----------------------------------------------
- ITEMS
---------------------------------------------*/
//Wrapper for each item
.result-item-wrapper {
    //Force size
    position:relative;
    width:100%;
    display:inline-block;
    margin:0 0 3px 0;
    overflow:hidden;

    //@include hardwareAccelerate();


    //This is a bit of a hack to pad the items height by 100% of the width, giving it the illusion of being the same height as it is wide
    &:before {
        content:     "";
        display:     block;
        padding-top: 100%; /* initial ratio of 1:1*/
    }

    //Hover functionality
    &:hover {
        //Show the cover tint
        .result-item__cover {
            @include opacity(1);
            &__icon { transform:scale(1, 1); }
        }

    }

    //Items
    .result-item {
        //Main item
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        width:100%;
        height:100%;
        background-color:#efefef;
        overflow:hidden;
        display:inline-block;
        background-size:cover;
        background-position:center;
        overflow:hidden;
        text-align:left;
        color:#fff;

        //Margins are dealt with at the bottom of this page
        margin:0;
        padding:0;

        //Font (titles and values)
        font-size:14px;
        @include fontFace('medium');

        //Accelerate
        //@include hardwareAccelerate();


        /*----------------------------------------------
        - COVER
        ---------------------------------------------*/
        &__cover {
            position:absolute;
            top:0;
            left:0;
            display:table;
            width:100%;
            height:100%;
            background-color:rgba(0, 0, 0, 0.4);
            @include opacity(0);

            //Transition (for hover)
            @include transition(opacity 0.5s ease-in);

            //Icon Holder
            &__icon {
                display:table-cell;
                vertical-align: middle;

                //Hide and transition (for hover)
                @include transition(opacity 0.7s ease-in-out, transform 0.35s ease-out);
                transform:scale(0, 0);

                //Icon in the middle
                .icon {
                    background-size:35px 35px;
                    background-position:center;
                }
            }
        }


        /*----------------------------------------------
        - HEADER (@name)
        ---------------------------------------------*/
        &__header {
            //display:table;
            //width:$resultItemSize - 20px;
            height:28px;
            overflow:hidden;
            padding:0;
            overflow:hidden;
            position:absolute;
            top:0;
            left:0;
            margin:10px;

            //Box model
            @include innerBox();

            //Title
            &__title {
                height:28px;
                padding-left:10px;
                padding-right:10px;
                @include innerBox();
                @include roundedEdges(14px);

                //Text shadow
                @include shadowing('text');

                //Overflow
                white-space: nowrap;
                overflow:hidden;
                text-overflow: ellipsis;
                max-width:95%; //$resultItemSize - 100

                //This alignment seems to work even when parent isn't a 'table'
                display:table-cell;
                vertical-align: middle;
            }
        }


        /*----------------------------------------------
        - ITEM FOOTER (COMMENTS, LIKES etc.)
        ---------------------------------------------*/
        &__footer {
            position:absolute;
            bottom:0;
            left:0;
            display:table;
            width:100%;
            height:43px;
            overflow:hidden;

            //Box model
            @include innerBox();

            //ICons
            &__icon {
                width:20px;
                height:17px;

                //Shadow (required for light images)
                @include shadowing('object');

                //Comments slightly narrower
                &--comments { width:17px;}

                //Padding
                padding-top:4px; //aligns them a bit better against the text
                padding-left:19px; //Pad between our items
            }

            &__value {
                padding-left:7px;

                //Text shadow
                @include shadowing('text');
            }
        }


        /*----------------------------------------------
        - KEYWORD MATCH VARIATIONS ON THE ITEM AS A WHOLE
        ---------------------------------------------*/
        &--keyword-match {
            .result-item__header__title {
                background-color:$blue;
                text-shadow: 0 0 #222;
            }
        }
    }

    //Sizing

    //Change columns
    //@media (min-width: 480px) { width:calc(100% / 2); } //2 columns
    //@media (min-width: 770px) { width:calc(100% / 3); } //3 columns
    //@media (min-width: 1110px) { width:calc(100% / 4); } //4 columns
    //@media (min-width: 1440px) { width:calc(100% / 5); } //5 columns
    //@media (min-width: 1768px) { width:calc(100% / 6); } //6 columns
    //@media (min-width: 2100px) { width:calc(100% / 7); } //6 columns


    //2 COLUMNS
    @media (min-width: 480px) {
        width:calc(100% / 2);

        //Margins on for all elemens above this size
        .result-item {
            margin-left:$resultItemMargin;
            margin-right:$resultItemMargin;
        }

        @media (max-width: 769px) {
            &:nth-of-type(2n + 1) { .result-item { margin-left:0 !important; } }
            &:nth-of-type(2n) { .result-item { margin-right:0 !important; } }
        }
    }

    //3 COLUMNS
    @media (min-width: 770px) {
        width:calc(100% / 3);

        @media (max-width: 1109px) {
            &:nth-of-type(3n + 1) { .result-item { margin-left:0 !important; } }
            &:nth-of-type(3n) { .result-item { margin-right:0 !important; } }
        }
    }

    //4 COLUMNS
    @media (min-width: 1110px) {
        width:calc(100% / 4);

        @media (max-width: 1439px) {
            &:nth-of-type(4n + 1) { .result-item { margin-left:0 !important; } }
            &:nth-of-type(4n) { .result-item { margin-right:0 !important; } }
        }
    }

    //5 COLUMNS
    @media (min-width: 1440px) {
        width:calc(100% / 5);
        @media (max-width: 1767px) {
            &:nth-of-type(5n + 1) { .result-item { margin-left:0 !important; } }
            &:nth-of-type(5n) { .result-item { margin-right:0 !important; } }
        }
    }

    //6 COLUMNS
    @media (min-width: 1768px) {
        width:calc(100% / 6);

        @media (max-width: 2099px) {
            &:nth-of-type(6n + 1) { .result-item { margin-left:0 !important; } }
            &:nth-of-type(6n) { .result-item { margin-right:0 !important; } }
        }
    }

    //7 COLUMNS
    @media (min-width: 2100px) {
        width:calc(100% / 7);

        &:nth-of-type(7n + 1) { .result-item { margin-left:0 !important; } }
        &:nth-of-type(7n) { .result-item { margin-right:0 !important; } }
    }

    //OTHERS?

}