/*----------------------------------------------
- HEADER
---------------------------------------------*/
$headerHeight: 70px;
$headerMargin: 40px;


/*----------------------------------------------
- COLOURS
---------------------------------------------*/
$blue: #0089d1; //00b1bf
$blueAlt: #009bbc; //used on input fields
$pink: #9f489e;
$purple: #730064;
$green: #69c386;
$red: #ed2940;
$redAlt: #a60024;

//RGB Versions
$blueRGB: 0, 137, 209;
$blueAltRGB: 0, 155, 188;
$pinkRGB: 159, 72, 158;
$purpleRGB: 115, 0, 100;
$greenRGB: 105, 195, 134;
$redRGB: 237, 41, 64;
$redAltRGB: 166, 0, 36;

//
$radioSize:16px;

/*----------------------------------------------
- ITEMS / CONTENT GRID
---------------------------------------------*/
$resultItemSize: 332px;//2px margin inside the JS
$resultItemMargin: 2px;

/*----------------------------------------------
- BUTTONS
---------------------------------------------*/
$buttonRollOverAlpha: 0.5;


/*----------------------------------------------
- PADDING
---------------------------------------------*/
$paddingGeneral:20px;
$paddingLightBox:55px; //wider margins on lightbox sides (sometimes!)
$paddingLightBoxKeywordsLeft:33px; //wider margins on lightbox sides (sometimes!)
$paddingLightBoxKeywordsRight:60px; //wider margins on lightbox sides (sometimes!)

