/*----------------------------------------------
- HEADER
---------------------------------------------*/
$headerHeight: 115px;
$headerMargin: 50px;


/*----------------------------------------------
- COLOURS NEW
---------------------------------------------*/
$blue: #2274b5; //#0089d1; //00b1bf

/*----------------------------------------------
- COLOURS OLDER
---------------------------------------------*/
$blueAlt: #009bbc; //used on input fields
$pink: #9f489e;
$purple: #730064;
$green: #69c386;
$red: #ed2940;
$redAlt: #a60024;
$beige: #f1eee5; //download image button and image view header

//RGB Versions
$beigeRGB: 241, 238, 229; //download image button
$blueRGB: 0, 137, 209;
$blueAltRGB: 0, 155, 188;
$pinkRGB: 159, 72, 158;
$purpleRGB: 115, 0, 100;
$greenRGB: 105, 195, 134;
$redRGB: 237, 41, 64;
$redAltRGB: 166, 0, 36;

//
$radioSize:16px;

/*----------------------------------------------
- ITEMS / CONTENT GRID
---------------------------------------------*/
$resultItemSize: 332px;//2px margin inside the JS
$resultItemMargin: 2px;

/*----------------------------------------------
- BUTTONS
---------------------------------------------*/
$buttonHeight: 53px;


/*----------------------------------------------
- VIEWER
---------------------------------------------*/
$viewerWidth: 840px;
$viewerHeight: 480px;
$viewerPadding: 10px;
$viewerHeaderHeight: 78px;
$viewerFooterHeight: $buttonHeight + (1 * $viewerPadding); //button
$viewerImageWidth: 480px; //how much space the image takes up in the width
$viewerImageHeight: 480px;
$viewerImageAvatarSize: 58px;
$viewerCommentsPaddingTop: 14px;
$viewerCommentsPaddingSide: 20px;
$viewerCommentsSplitSpacing: 16px;



/*----------------------------------------------
- BUTTONS
---------------------------------------------*/
$buttonRollOverAlpha: 0.5;


/*----------------------------------------------
- PADDING
---------------------------------------------*/
$paddingGeneral:20px;
$paddingLightBox:55px; //wider margins on lightbox sides (sometimes!)
$paddingLightBoxKeywordsLeft:33px; //wider margins on lightbox sides (sometimes!)
$paddingLightBoxKeywordsRight:60px; //wider margins on lightbox sides (sometimes!)

