/*----------------------------------------------
- HEADER
---------------------------------------------*/
$headerHeight: 115px;
$headerMargin: 50px;

/*----------------------------------------------
- COLOURS NEW
---------------------------------------------*/
$blue: #2274b5; //#0089d1; //00b1bf
$red: #c92929;
$yellow: #eebc32;
$beige: #f1eee5; //button background etc. and header on image viewer

//RGB Versions
$beigeRGB: 241, 238, 229; //most buttons

/*----------------------------------------------
- COLOURS DEPRECATED
---------------------------------------------*/
/*$pink: #9f489e;
$purple: #730064;
$green: #69c386;*/

/*----------------------------------------------
- LOAD COLOURS
---------------------------------------------*/
$loadColour1: $red;
$loadColour2: $yellow;
$loadColour3: $blue;

/*----------------------------------------------
- ITEMS / CONTENT GRID
---------------------------------------------*/
$resultItemSize: 332px;//2px margin inside the JS
$resultItemMargin: 2px;

/*----------------------------------------------
- BUTTONS
---------------------------------------------*/
$buttonHeight: 53px;


/*----------------------------------------------
- VIEWER
---------------------------------------------*/
$viewerWidth: 840px;
$viewerHeight: 480px;
$viewerPadding: 10px;
$viewerHeaderHeight: 78px;
$viewerFooterHeight: $buttonHeight + (1 * $viewerPadding); //button
$viewerImageWidth: 480px; //how much space the image takes up in the width
$viewerImageHeight: 480px;
$viewerImageAvatarSize: 58px;
$viewerCommentsPaddingTop: 14px;
$viewerCommentsPaddingSide: 20px;
$viewerCommentsSplitSpacing: 16px;



/*----------------------------------------------
- BUTTONS
---------------------------------------------*/
$buttonRollOverAlpha: 0.5;


/*----------------------------------------------
- PADDING
---------------------------------------------*/
$paddingGeneral:20px;
$paddingLightBox:55px; //wider margins on lightbox sides (sometimes!)
$paddingLightBoxKeywordsLeft:33px; //wider margins on lightbox sides (sometimes!)
$paddingLightBoxKeywordsRight:60px; //wider margins on lightbox sides (sometimes!)

