<!-- build:js({app,.tmp}) scripts/main.js -->

<script src="scripts/Init.js"></script>
<script src="scripts/Site.js"></script>
<script src="scripts/Helper.js"></script>
<script src="scripts/_utilities/APIManager.js"></script>
<script src="scripts/_utilities/ImageManager.js"></script>
<script src="scripts/_modules/ExportManager.js"></script>
<script src="scripts/_modules/FormManager.js"></script>
<script src="scripts/_modules/InfoBar.js"></script>
<script src="scripts/_modules/ItemManager.js"></script>
<script src="scripts/_modules/ItemViewer.js"></script>
<script src="scripts/_modules/Lightbox.js"></script>
<script src="scripts/_modules/SnooperEyes.js"></script>

<!-- endbuild -->