<!--Template 'ITEM RESULTS'-->
<script id="item-template" type="text/x-handlebars-template">
    <a href="#" data-id="" data-date="{{date}}"  data-likes="{{likes-count}}" data-comments="{{comments-count}}" class='result-item-wrapper' id="item{{id}}">
        <div class="result-item {{extra-classes}}" style="background-image:url({{image}});">
            <div class="result-item__cover"><div class="result-item__cover__icon"><span class="icon icon--plus"></span></div></div>
            <div class="result-item__header"><div class="result-item__header__title">{{title}}</div></div>
            <div class="result-item__footer">
                <div class="table-cell">
                    <div class="table">
                        <div class="table-cell result-item__footer__icon result-item__footer__icon--likes"><span class="icon icon--likes"></span></div>
                        <div class="table-cell result-item__footer__value">{{likes}}</div>
                        <div class="table-cell result-item__footer__icon result-item__footer__icon--comments"><span class="icon icon--comments"></span></div>
                        <div class="table-cell result-item__footer__value">{{comments}}</div>
                    </div>
                </div>
            </div>
        </div>
    </a>
</script>

<!--Template 'ITEM FULLVIEW'-->
<script id="item-fullview-template" type="text/x-handlebars-template">
    <div class="itemview">
        <!--Columns-->
        <div class="itemview__column itemview__column--image">
            <!--Loader-->
            <div class="table table--fullsize">
                <div class="table-cell">
                    include "content-loader.html"
                </div>
            </div>

            <!--Image-->
            <div class="itemview__image"> <!--style='background-image:url({{image_url}});'-->
                <!--Photo Tagging-->
                <div class="itemview__phototag {{user-tag-status}}">
                    <div class="table-cell itemview__phototag__icon"><span class="icon icon--tag"></span></div>
                    <div class="table-cell itemview__phototag__name">{{user-tag-name}}</div>
                </div>
            </div>
        </div><!--
        --><div class="itemview__column">

            <div class="itemview__header">
                <!--Avatar-->
                <div class="itemview__header__column itemview__header__column--avatar">
                    <a href="http://www.instagram.com/{{title}}/" target="_blank"><div class="itemview__avatar" style='background-image:url({{avatar_url}});'></div></a>
                </div>

                <div class="itemview__header__column itemview__header__column--info">
                    <!--Name-->
                    <a href="http://www.instagram.com/{{title}}/" target="_blank"><div class="itemview__username">@{{title}}</div></a>

                    <!--Comment and Like counts-->
                    <div class="table">
                        <div class="itemview__icon itemview__icon--likes"><span class="icon icon--likes-alt"></span></div>
                        <div class="itemview__count">{{counts.likes}}</div>
                        <div class="itemview__icon itemview__icon--comments"><span class="icon icon--comments-alt"></span></div>
                        <div class="itemview__count">{{counts.comments}}</div>
                    </div>
                </div>
            </div>

            <!--Comments / Caption-->
            <div class="itemview__comments-wrapper">

                <div class="itemview__comments">
                    {{#each comments}}

                        {{#if split}}
                        <div class="itemview__comments__split">-</div>
                        {{/if}}

                        {{#if date}}
                        <div class="itemview__comments__date">{{date.date}}</div>
                        <div class="itemview__comments__time">{{date.time}}</div>
                        {{/if}}

                        <div class="itemview__comments__username">{{#if linkUser}}<a href="http://www.instagram.com/{{user}}/" target="_blank">@{{user}}</a>{{else}}{{user}}{{/if}}</div>
                        <div class="itemview__comments__comment">{{{comment}}}</div>

                    {{/each}}
                </div>
            </div>

            <div class="itemview__footer">
                <!--Download Link-->
                <a href="{{file_download_link}}" target="_blank"><div class="button button--download">SAVE IMAGE</div></a>
            </div>
        </div>

        <!--Close Button Floats-->
        <div class="icon icon--close" id="button-close"></div>
    </div>
</script>

 <!--Template 'KEYWORDS'-->
<script id="keywords-template" type="text/x-handlebars-template">
    <div class="keyword-edit-box">

        <div class='keyword-edit-title'><strong>Keyword </strong>Search</div>

        <div class='keyword-edit-body'>Want to focus your snooping even further? Enter some keywords for us to search for within the photo comments.<br/>Master keywords are your primary search words. If you have variants you’d also like to check, add them into the mix too!</div>

        <div class="button add" id="button-add-keyword">ADD NEW LINE</div><!--
        --><div class="button update padded" id="button-update-search">UPDATE SEARCH</div>
        <div class="keyword-list-item-header">
            <div class="keyword-list-column left">Master Keyword</div>
            <div class="keyword-list-column right">Variants (different languages)</div>
        </div>
        <div class="keyword-list-items"></div>
        <div class="icon icon-close" id="button-close"></div>
    </div>
</script>

<!--Template 'KEYWORD ITEM'-->
<script id="keyword-item-template" type="text/x-handlebars-template">
    <div class="keyword-list-item hidden" id="keyword-item{{id}}">
        <div class="keyword-list-column left"><input type='text' name='master{{id}}' id='master{{id}}' placeholder='For example: Red' value='{{master}}' class='input-text fluid-width small-text keyword-input-master'/></div>
        <div class="keyword-list-column right"><input type='text' name='variant{{id}}' id='variant{{id}}' placeholder='For example: Rouge, Rot, Rojo' value='{{variants}}' class='input-text fluid-width small-text keyword-input-variants'/></div>
    </div>
</script>


 <!--Template 'LIGHTBOX'-->
<script id="lightbox-template" type="text/x-handlebars-template">
    <div class="lightbox-container">
        <div class="lightbox-fill"></div>
        <div class="lightbox-content-wrapper">
            <div class="lightbox-content">{{{content}}}</div>
        </div>
    </div>
</script>

<!--Template 'ITEM LIST'-->
<script id="itemlist-template" type="text/x-handlebars-template">
    <div class="result-list-items" id='{{id}}'></div>
</script>