<div class="register-wrapper">
    <div class="register-holder">
        <div class="register-content">
            <div class="register-content__logo-big"></div>
            <div class="register-content__logo"></div>
            <div class="register-content__text-strapline">Next generation instagram search</div>
            <div class="register-content__button"><a href="{{AUTH_URL}}" target="_top"><div class="button button--instagram">SIGN IN TO START</div></a></div>
            <div class="register-content__text-privacy">Don’t worry. We'll never post on your behalf, or without your permission.</div>
        </div>
    </div>
</div>

<div class="register-footer">
    By <a href="http://weareclubhouse.com">Clubhouse Studios</a>
</div>