<!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

<!--Header-->
<header>
    <div class="header__wrapper">

        <!--Credits and Logo-->
        <div class="header__top">
            <div class="header__logo header__logo--snooper"></div>
            <div class="header__logo header__logo--clubhouse">By <a href="http://weareclubhouse.com">Clubhouse Studios</a></div>
        </div>

        <!--Search Bar-->
        <div class="header__search hidden">
            <div class="header__search__column header__search__label"></div>
            <div class="header__search__column header__search__column--right header__search__info">
                <div class="header__search__info__text"></div><!--
               --><div class="header__search__info__button button pause hidden">PAUSE</div>
            </div>
        </div>
    </div>
</header>