<!--Search Bar-->
<div class="searchbar searchbar--hidden">
    <!--LHS-->
    <div class="searchbar__column">
        <div class="table">
            <!--<div class="table-cell"><span class="searchbar__logo"></span></div>-->
            <div class="table-cell"><span class="searchbar__info"></span></div>
        </div>
    </div>

    <!--RHS-->
    <div class="searchbar__column searchbar__column--right">
        <div class="table">
            <div class="table-cell"><span class="searchbar__count"><span class="searchbar__count__value">0</span><span class='searchbar__count__found'>Found</span></span></div>
            <div class="table-cell"><span class="button button--pause button--bordered button--spaced-right" id="searchbar-button-info"></span></div>
            <div class="table-cell"><span class="button button--export button--bordered" id="searchbar-button-export">EXPORT</span></div>
        </div>
    </div>
</div>