<div class="content-column">
    <div class="table table--fullwidth filters-wrapper">
        <div class="table-cell table-cell--vt" style="text-align:left;">
            <div class="filters filters--hidden" id="filters-left">
                <span class="filters__title">SHOWING</span>
                <ul></ul>
            </div>
        </div>
        <div class="table-cell table-cell--vt" style="text-align:right;">
            <div class="filters filters--hidden" id="filters-right">
                <span class="filters__title">SORT BY</span>
                <ul>
                    <!--<li class="filters__option filters__option--selected" data-id="date">Date</li>
                    <li class="filters__option" data-id="keywords">Keywords Only</li>
                    <li class="filters__option" data-id="likes">Likes</li>
                    <li class="filters__option" data-id="comments">Comments</li>-->
                </ul>
            </div>
        </div>
    </div>
</div>