<div class="content-column">
    <div class="table" style="width:100%;">
        <div class="table-cell table-cell--vt" style="text-align:left;">
            <div class="filters" id="filters-tags">
                <span class="filters__title">SHOWING</span>
                <ul>
                    <li class="filters__option">#tag1</li>
                    <li class="filters__option">#tag2</li>
                </ul>
            </div>
        </div>
        <div class="table-cell table-cell--vt" style="text-align:right;">
            <div class="filters" id="filters-sort">
                <span class="filters__title">SORT BY</span>
                <ul>
                    <li class="filters__option filters__option--selected">Date</li>
                    <li class="filters__option">Keywords Only</li>
                    <li class="filters__option">Likes</li>
                    <li class="filters__option">Comments</li>
                </ul>
            </div>
        </div>
    </div>
</div>