<!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

<!--Header-->
<header>
    <div class="header__wrapper">
        <div class="header__top">
            <div class="header__logo header__logo--snooper"><svg id="logo-header"></svg></div>
            <div class="header__logo header__logo--clubhouse">By <a href="http://weareclubhouse.com">Clubhouse Studios</a></div>
        </div>
    </div>
</header>