<!--Form-->
<div class="content-column content-column--left">
    <form class='search-form' id='search-form'>
        <div class="search-form__column">
            <!--Icon-->
            <div class="search-form__column__icon search-form__column__icon--names"></div>

            <!--Input-->
            <span class="search-form__column__input" contentEditable="true" id="search-names" data-default="ADD A USERNAME"></span>


        </div><!--
        --><div class="search-form__column">
        <!--Icon-->
            <div class="search-form__column__icon search-form__column__icon--tags"></div>

            <!--Input-->
            <span class="search-form__column__input" contentEditable="true" id="search-tags" data-default="ADD UP TO 3 TAGS"></span>


        </div><!--
        --><div class="search-form__column">
            <!--Icon-->
            <div class="search-form__column__icon search-form__column__icon--keywords"></div>

            <!--Input-->
            <span class="search-form__column__input" contentEditable="true" id="search-keywords" data-default="ADD KEYWORDS"></span>
        </div>

        <!--Options-->
        <div class="search-form__options-wrapper">
            <!--Options Names-->
            <div class="search-form__optionset search-form__optionset--hidden" id="options-names">
              <span class="search-form__option search-form__option--selected" data-id='owned'>Owned photos</span>
              <span class="search-form__option-spacer">or</span>
              <span class="search-form__option" data-id='mentions'>@mentions</span>
            </div>

            <!--Options Tags-->
            <div class="search-form__optionset search-form__optionset--hidden" id="options-tags">
              <span class="search-form__option search-form__option--selected" data-id='all'>Every tag</span>
              <span class="search-form__option-spacer">or</span>
              <span class="search-form__option" data-id='any'>any tag</span>
            </div>
        </div>

        <!--Submit button-->
        <div class="search-form__button">
            <input type='submit' class="button button--search right" value='SEARCH'/>
        </div>
    </form>
</div>