<!--Form-->
<div class="content-column">
    <form class='search-form' id='search-form-new'>
        <div class="search-form__column">
            <div class="search-form__column__icon search-form__column__icon--names"></div>
            <span class="search-form__column__input" contentEditable="true" id="#search-names" data-default="ADD A USERNAME"></span>
        </div><!--
        --><div class="search-form__column">
            <div class="search-form__column__icon search-form__column__icon--tags"></div>
            <span class="search-form__column__input" contentEditable="true" id="#search-tags" data-default="ADD UP TO 3 HASHTAGS"></span>
        </div><!--
        --><div class="search-form__column">
            <div class="search-form__column__icon search-form__column__icon--keywords"></div>
            <span class="search-form__column__input" contentEditable="true" id="#search-keywords" data-default="ADD KEYWORDS"></span>
        </div>
    </form>
</div>